<a href="https://colab.research.google.com/github/MorshedulHoque/NumPy/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First you have to install numpy to use it.

In [ ]:
pip install Numpy

Requirement already satisfied: Numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

Then you have to import it. NumPy is usually imported under the np **alias**.
In Python **alias** are an alternate name for referring to the same thing.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

Cheking version

In [ ]:
print(np.__version__)

1.21.5

NumPy is used to work with arrays. The array object in NumPy is called **ndarray**

In [ ]:
print(type(arr))

<class 'numpy.ndarray'>

**0-D Arrays**

0-D arrays, or Scalars, are the elements in an array. Each value in an array is a 0-D array.

In [ ]:
a = np.array(42)

print(a)

42

**1-D Arrays**

An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array.

In [ ]:
b = np.array([1, 2, 3, 4])
print(b)

[1 2 3 4]

**2-D Arrays**

An array that has 1-D arrays as its elements is called a 2-D array.

These are often used to represent matrix or 2nd order tensors.

In [ ]:
c = np.array([[1,2,3],[4,5,6]])
print(c)

[[1 2 3]
 [4 5 6]]

**3-D arrays**

An array that has 2-D arrays (matrices) as its elements is called 3-D array.

These are often used to represent a 3rd order tensor.

In [ ]:
d = np.array([[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]])

print(d)

[[[1 2 3]
  [4 5 6]
  [1 2 3]
  [4 5 6]]]

Check Number of Dimensions

In [ ]:
print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

Define number of dimentions

In [ ]:
arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print('number of dimensions :', arr.ndim)

[[[[[1 2 3 4]]]]]
number of dimensions : 5

Access Array Elements

In [ ]:
arr = np.array([1, 2, 3, 4])

print(arr[0])

1

Add two elements from array

In [ ]:
arr = np.array([1, 2, 3, 4])

print(arr[2] + arr[3])

7

Access the element on the first row, second column.

![Untitled Diagram.drawio (2).png]()

In [ ]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('2nd element on 1st row: ', arr[0, 1])

2nd element on 1st row:  2

In [ ]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('5th element on 2nd row: ', arr[1, 4])

5th element on 2nd row:  10

The first number represents the first dimension, which contains two arrays:

[[1, 2, 3], [4, 5, 6]]

and:

[[7, 8, 9], [10, 11, 12]]

Since we selected 0, we are left with the first array:

[[1, 2, 3], [4, 5, 6]]

The second number represents the second dimension, which also contains two arrays:

[1, 2, 3]

and:

[4, 5, 6]

Since we selected 1, we are left with the second array:

[4, 5, 6]

The third number represents the third dimension, which contains three values:

4
5
6

Since we selected 2, we end up with the third value:

6

In [ ]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 2])

6

In [ ]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('Last element from 2nd dim: ', arr[1, -1])

Last element from 2nd dim:  10

**Slicing arrays**

Slicing in python means taking elements from one given index to another given index.

We pass slice instead of index like this: [start:end].

We can also define the step, like this: [start:end:step].

If we don't pass start its considered 0

If we don't pass end its considered length of array in that dimension

If we don't pass step its considered 1

It consider the left element of colon but not consider the right element of colon. Example: 
array[1:6]. Here, left index considered. Mean that start from element number 1. But it not consider the right side index, mean it does not added index number 6.It stoped in index 5.

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

[2 3 4 5]

Slice elements from index 4 to the end of the array:

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[4:])

Slice elements from the beginning to index 4 (not included):

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[:4])        #print(arr[:-3]) give the same result

[1 2 3 4]

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

[5 6]

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])           # [start:end:step].

[2 4]

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])

[1 3 5 7]

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[1, 1:4])

[7 8 9]

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 2])

[3 8]

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 1:4])

[[2 3 4]]

**dtype** that allows us to define the expected data type of the array elements:

In [ ]:
arr = np.array([1, 2, 3, 4], dtype='S')

print(arr)
print(arr.dtype)

[b'1' b'2' b'3' b'4']
|S1

In [ ]:
arr = np.array([1, 2, 3, 4], dtype='i4')

print(arr)
print(arr.dtype)

[1 2 3 4]
int32

In [ ]:
arr = np.array(['a', '2', '3'], dtype='i')

ValueError: ignored

Change data type from float to integer by using 'i' as parameter value:

In [ ]:
arr = np.array([1.1, 2.1, 3.1])

newarr = arr.astype('i')

print(newarr)
print(newarr.dtype)

[1 2 3]
int32

Change data type from float to integer by using int as parameter value:

In [ ]:
arr = np.array([1.1, 2.1, 3.1])

newarr = arr.astype(int)

print(newarr)
print(newarr.dtype)

[1 2 3]
int64

Change data type from integer to boolean:

In [ ]:
arr = np.array([1, 0, 3])

newarr = arr.astype(bool)

print(newarr)
print(newarr.dtype)

[ True False  True]
bool

**The Difference Between Copy and View**

The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array.

The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy.

The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

**COPY:**

Make a copy, change the original array, and display both arrays:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

**VIEW:**

Make a view, change the original array, and display both arrays:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.view()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[42  2  3  4  5]

**Check if Array Owns its Data**

As mentioned above, copies owns the data, and views does not own the data, but how can we check this?

Every NumPy array has the attribute base that returns **None** if the array owns the data.

Otherwise, the base  attribute refers to the **original object**.

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

x = arr.copy()
y = arr.view()

print(x.base)
print(y.base)

None
[1 2 3 4 5]